.contain{
    width: 100%;
    max-width: 1200px;    
    margin: auto;
}
.container-txt{    
    width: 100%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}
.container-txt>h2{
    display: inline-block;
    font-weight: bolder;
    font-size: 25px;
     /* width: 14%;綠線  */
    border-bottom: 2px solid rgba(8, 153, 8, 0.873);
    border-width: 5px;
    margin: auto;
}


 .detail{      
    border: 1px solid rgb(209,213,219);
}
/* input{
    width: 100%;
} */
.name-title,         /*每個表格左邊名字*/
.email-title, 
.starttime-title, 
.endtime-title, 
.product-title, 
.category-title, 
.productname-title, 
.productsummary-title, 
.mainpic-title, 
.productexplain-title, 
.givebackone-title, 
.givebacktwo-title, 
.relatedpages-title, 
.videopages-title, 
.cooperate-title{
    width: 30%;
    font-weight: 700; 
}
/* .name-title{
    margin-right: 70px;
} */
.name-txt,         /*每個表格左邊名字*/
.email-txt, 
.starttime-txt, 
.endtime-txt, 
.product-txt, 
.category-txt, 
.productname-txt, 
.productsummary-txt, 
.mainpic-txt, 
.productexplain-txt, 
.givebackone-txt, 
.givebacktwo-txt, 
.relatedpages-txt, 
.videopages-txt, 
.cooperate-txt
{
    width: 70%;
}
.name-txt>input{
    width: 100%;
} 
.email-txt>input{
    width: 100%;
}
.productname-txt>input{
    width: 100%;
}
.relatedpages-txt>input{
    width: 100%;
}
.videopages-txt>input{
    width: 100%;
}

.name{
    padding: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.email{
    padding: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
/* .email-txt>p{
    font-size: 10px;
    padding-top: 5px;
} */
/*.email-title{
    padding: 0 100px 0 0;
    display: flex; 
   
}*/

.starttime{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.starttime-txt>input{
    width: 30%;
}
.endtime{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.endtime-txt>input{
    width: 30%;
}

.product{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.category
{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.productname{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    
}
.productsummary{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
 
}
.mainpic{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
   
}
.mainpic-txt>input{
    border: 1px solid #e0e0e0;
    padding-left: 5px;
}
#productexplain_title{
    height: 20em;
}
.productexplain{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.givebackone{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.givebacktwo{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
} 
.relatedpages{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.videopages{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(209,213,219);
}
.cooperate{
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid rgb(249 250 251);
    background-color: rgb(249 250 251);
}
 h2{
    font-size: 18px;
    font-weight: 550;
}
p{
    font-size: 10px;
    padding-top: 5px;
}
#product_title{
    width: 25%;    
}
.product-txt >span{
    padding-left: 10px;
}
#category-title{
width: 30%;
}
#article_title{
    height: 20em;
}
.decide-btn>input{
    color: rgb(34 159 42);
    font-weight: 700;
    padding-bottom: 0.5rem;
    padding-top: 5px;
    border-color: rgb(34 159 42);
    border-width: 2px;
    border-radius: 0.25rem;
    width: 15%;
    height: 45px;
    
}
.decide-btn{
    /* padding-left: 26%; */
    padding: 50px 0px 50px 300px;
}
.price-input{
    width: 50%;
}
.cooperate-txt>input{
width: 5px;
}

.sectionNav .line{
    width: 1px;
    height: 30px;
    background-color: var(--bs-gray-400); 
    margin-left: 10px;
}


.sectionFooter{
    background-color: var(--bs-gray-100); 
    border-top: 1px solid lightgray; 
    border-bottom: 1px solid lightgray;   
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.sectionFooter .container ul a:hover {
    color: var(--bs-gray-600);
}

.iconSocialMedia {
    box-sizing: border-box;
}

.iconSocialMedia a {
    color: var(--bs-gray-600);
    padding: 0 10px;
}

.sectionFooter .iconSocialMedia a:hover .fa-facebook {
    color: #1877f2;
}

.sectionFooter .iconSocialMedia a:hover .fa-twitter {
    color: #1da1f2;
}

.sectionFooter .iconSocialMedia a:hover .fa-instagram {
    color: #000;
}

.sectionFooter .iconSocialMedia a:hover .fa-youtube {
    color: #dc2626;
}

.sectionFooter .iconSocialMedia a:hover .fa-line {
    color: #00c300;
}

.sectionCopyright{
    background-color: var(--bs-gray-100);
}
.container a{
    text-decoration: none;
    color: rgb(75 85 99)
}
.container li{
    list-style-type: none;
}



@media screen and (min-width:768px) {   
    .name{     
        display: flex;  
    }
    .email{
         display: flex; 
         /* justify-content: flex-start;  */        
    }    
    .starttime{
        display: flex;
        /* justify-content: space-between; */
    }
   
    .endtime{
        display: flex;
        /* justify-content: space-between; */
    }
    .product{
        display: flex;
        /* justify-content: space-between; */
    }
    .category
    {
        display: flex;
        /* justify-content: space-between; */
    }
    .productname{  
        display: flex;
        /* justify-content: space-between; */
        
    }
    .productsummary{
        display: flex;
        /* justify-content: space-between; */
     
    }
    .mainpic{   
        display: flex;
        /* justify-content: space-between;        */
    }
    .productexplain{   
        display: flex;
        /* justify-content: space-between;   */
    }
    .givebackone{ 
        display: flex;
        /* justify-content: space-between;   */
    }
    .givebacktwo{ 
        display: flex;
        /* justify-content: space-between;     */
    } 
    .relatedpages{     
        display: flex;
        /* justify-content: space-between;   */
    }
    .videopages{   
        display: flex;
        /* justify-content: space-between;  */
    }
    .cooperate{
        display: flex;
        /* justify-content: space-between; */
    }    
    .sectionFooter .navbar-brand {
        color: #00c300;
    }
 }
 
 
 