/* .header {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    padding-bottom: 110px;
} */

body {
    max-width: 1200px;
}

.container {
    max-width: 1200px;
    /* margin: auto; */
}

.title_1 {
    font-weight: bold;
    margin-left: 200px;
    max-width: 1200px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

p {
    margin-left: 200px;
    max-width: 540px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-left: 200px;
    margin-bottom: 20px;
}

ul {
    /* list-style-type: disc; */
    /* max-width: 730px; */
    margin-left: 230px;
    /* list-style: none; */
}

li>p {
    margin-left: 0px;
    max-width: 540px;
    margin-bottom: 20px;
    margin-top: -20px;
}

ul li::before {
    /*   可以自訂其他形狀 */
    content: "\2022";
    /*   顏色 */
    color: #DDDDDD;
    font-weight: bold;
    /*   設定 display */
    /* display: inline-block; */
    /*  寬度  */
    width: 1rem;
    /*  可以視情況調整形狀的距離  */
    margin-left: -2rem;


}

hr{
    margin-left: 200px;
    max-width: 600px;
}
/* .footer {
    margin-top: 30px;

} */


.sectionNav .line{
    width: 1px;
    height: 30px;
    background-color: var(--bs-gray-400); 
    margin-left: 10px;
}

.sectionFooter{
    background-color: var(--bs-gray-100); 
    border-top: 1px solid lightgray; 
    border-bottom: 1px solid lightgray;
}

.sectionFooter .container ul a:hover {
    color: var(--bs-gray-600);
}

.iconSocialMedia {
    box-sizing: border-box;
}

.iconSocialMedia a {
    color: var(--bs-gray-600);
    padding: 0 10px;
}

.sectionFooter .iconSocialMedia a:hover .fa-facebook {
    color: #1877f2;
}

.sectionFooter .iconSocialMedia a:hover .fa-twitter {
    color: #1da1f2;
}

.sectionFooter .iconSocialMedia a:hover .fa-instagram {
    color: #000;
}

.sectionFooter .iconSocialMedia a:hover .fa-youtube {
    color: #dc2626;
}

.sectionFooter .iconSocialMedia a:hover .fa-line {
    color: #00c300;
}

.sectionCopyright{
    background-color: var(--bs-gray-100);
}

@media screen and (min-width <=768px) {
    .sectionFooter .navbar-brand {
        color: #00c300;
    }
}